header{
    width:100%;
    background: #000;
    height:44px;
}

.large{
    margin:auto;
    width:1000px;
    height:100%;
    display: none;
}
.large a{
    float:left;
    line-height: 44px;
    color:#fff;
    padding:0 10px;
    margin:0 40px;
}



.small .option{
    float:left;
}
.small .menu{
    width:10%;position: relative;
}
.small .logo{
    width: 80%;
    text-align: center;
}
.small .text{
    width:10%;text-align: right;
}
.small a{
    line-height: 44px;
    color:#fff;padding:5px;
}
.small .menu .son{
    width:500px;height:500px;
    background: rgb(0,0,0);
    padding-left:50px;
    display: none;
}
.small .menu .son a{
    line-height: 20px;
    display: block;
    width:100%;
    padding:10px 0;
    border-bottom: 1px solid #999;

}
.small .menu .son a:last-child{
    border-bottom: 1px solid #fff;
}

/*轮播图*/
.wheel{
 height:580px;width:100%;position: relative;overflow: hidden;
}
.box{
    width:100%;height:100%;position: relative;
}
.box .list{
    position: absolute;
    width:100%;height:100%;
}
.box .one{
  background:#fff url(../img/pro_s.jpg) no-repeat;
  background-size: contain;  background-position: center bottom;

}
.box .three{
    background:#000 url(../img/kk_s.jpg) no-repeat;
    background-size: cover;  background-position: center bottom;
    left:100%;

}
.box .two{
    background:#000 url(../img/iphone.jpg) no-repeat;
    background-size: contain;  background-position: center bottom;
    left:100%;
}
.leftBtn{
   position: absolute;
   top:0;bottom: 0;
   left:20px;margin:auto;
   width:30px;height:30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    background:#ccc;
    opacity: 0;
    transition:opacity .5s linear;

}
.rightBtn{
    position: absolute;
    top:0;bottom: 0;
    right:20px;margin:auto;
    width:30px;height:30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    background:#ccc;
    opacity: 0;
    transition:opacity .5s linear;
}
.left{
    height:100%;width:25%;
    position: absolute;left:0;top:0;
    z-index:1000;

}
.left:hover >.leftBtn{
    opacity: 1;
}
.right:hover>.rightBtn{
    opacity: 1;
}
.right{
    height:100%;width:25%;
    position: absolute;right:0;top:0;
    z-index:1000;

}

.btns{
    width:170px;height:10px;
    position: absolute;
    left:0;right:0;bottom: 50px;
    margin:auto;z-index:999;

}
.btns .btns-list{
    float:left;width:50px;height:100%;
    margin-right:10px;
    border:1px solid #ccc;
    position: relative;
}
.btns .btns-list:last-child{
    margin:0;
}
.btns .progress{
    height:100%;background: red;
    width:0%;
}

.img-list div[class*=col]{
    height:200px;
    border:2px solid #fff;
    background: url(../img/tv_s.jpg) no-repeat;
    background-size: cover;
}

@media screen and (min-width: 735px){
    .large{
        display: block;
    }
    .small{
        display: none;
    }
    .box .one{
        background:#fff url(../img/pro_m.jpg) no-repeat;

        background-size: contain;
        background-position: center bottom;

    }

    .box .three{
        background:#000 url(../img/kk_m.jpg) no-repeat;
        background-size: contain;  background-position: center bottom;

    }

    .img-list div[class*=col]{
        height:200px;
        border:2px solid #fff;
        background: url(../img/tv_m.jpg) no-repeat;
        background-size: cover;
    }
}

@media screen and (min-width: 1075px){
    .box .one{
        background:#fff url(../img/pro_large.jpg) no-repeat;
        background-size: contain;
        background-position: center bottom;

    }
    .box .three{
        background:#000 url(../img/kk_l.jpg) no-repeat;
        background-size: contain;  background-position: center bottom;

    }
    .img-list div[class*=col]{
        height:200px;
        border:2px solid #fff;
        background: url(../img/tv_l.jpg) no-repeat;
        background-size: contain;
    }
}



